---
import Page from '../../layouts/Page.astro';
import publications from '../../data/publications.json';
---
<Page title="Publications – Laboratoire PopGen" lang="fr" locale="fr">
  <h1>Publications</h1>
  <ul>
    {publications.map((p) => (
      <li>
        <a
          href={p.doi ? `https://doi.org/${p.doi}` : p.url}
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline"
        >
          {p.title} (<em>{p.journal}, {p.year}</em>)
        </a>
      </li>
    ))}
  </ul>
</Page>
