---
import Page from '../layouts/Page.astro';
const title = '404 — Page Not Found';
---
<Page title={title} lang="en" locale="en">
  <h1>Oops, that page doesn’t exist.</h1>
  <p><a href="/">Return home</a></p>
</Page>