---
// src/pages/research.astro
import Navbar from '../components/Navbar.jsx';
import content from '../content/en/research.md';
---
<html lang="en">
  <body class="prose mx-auto my-12">
    <Navbar locale="en" />
    {content}
  </body>
</html>
